@font-face {
  font-family: 'kglesbouquinistesdeparis';
    src: url('fonts/regency/RegencieLight-webfont.eot');
    src: url('../fonts/kglesbouquinistesdeparis.eot') format('embedded-opentype'),
         url('../fonts/kglesbouquinistesdeparis.woff') format('woff'),
         url('../fonts/kglesbouquinistesdeparis.ttf') format('truetype'),
         url('../fonts/kglesbouquinistesdeparis.svg#KGLesBouquinistesdeParisRegular') format('svg');
}
@font-face {
    font-family: 'Regency';
    src: url('//bbcdn.githack.com/abanda/ajibanda_blog/raw/747ca330cce1123fcd9765d95782f753c42ffd99/blog/fonts/regency/RegencieLight-webfont.eot');
    src: url('//bbcdn.githack.com/abanda/ajibanda_blog/raw/747ca330cce1123fcd9765d95782f753c42ffd99/blog/fonts/regency/RegencieLight-webfont.eot') format('embedded-opentype'),
         url('//bbcdn.githack.com/abanda/ajibanda_blog/raw/747ca330cce1123fcd9765d95782f753c42ffd99/blog/fonts/regency/RegencieLight-webfont.woff') format('woff'),
         url('//bbcdn.githack.com/abanda/ajibanda_blog/raw/747ca330cce1123fcd9765d95782f753c42ffd99/blog/fonts/regency/RegencieLight-webfont.ttf') format('truetype'),
         url('//bbcdn.githack.com/abanda/ajibanda_blog/raw/747ca330cce1123fcd9765d95782f753c42ffd99/blog/fonts/regency/RegencieLight-webfont.svg#regencielight') format('svg');
}

html{
	font-family: Arial, Helvetica;
}
body{
	font-family: Regency, Arial;
	color: #333;
	font-size: 1.5em;
}
/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-weight: 500;
	font-family: Regency, Arial;
}*/
.navbar, footer.html-footer{
	background-color: #333;
	color: #FFF;
}
.dropdown-menu>li>a{
	color:#333;
}
.navbar{
	border-bottom: 5px solid #01ace2;
}
.navbar a{
	color: #FFF;
	font-weight:bold;
	font-family: Arial Bold, Helvetica;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus, .nav li a:hover {
	background: #333;
	border-top: 5px solid #FF3C38;
	padding-top:10px;
}
.nav li a, .nav li a:hover{
	border-bottom: #FF3C38;
}

.navbar .in .active>a, .navbar .in .active>a:hover, .navbar .in li a:hover{
	border-bottom:0;
}

.navbar-nav>li>.dropdown-menu{
	background-color:#333;
}
ul.dropdown-menu li, ul.dropdown-menu li a:hover{
	border-bottom:0;

}
.nav .caret, .nav a:hover .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #333;
	border-top: 5px solid #FF3C38;
}
.dropdown-menu>li a:hover, .dropdown-menu>li a{
	border:0;
	padding-top:3px;
	color:#ffffff;
}
.navbar-nav > li > a, .dropdown-menu > li > a {
	font-variant: small-caps;
}

.navbar .in .active>a, .navbar .in .active>a:hover, .navbar .in li a:hover{
	border-bottom:0;
	border:0;
}

#blog-title{
	text-align:center;
}
a.navbar-brand {
	color: #FFF;
	font-size: 30px;
	text-rendering: optimizeSpeed;
	text-align:center;
	margin-top:-20px;
	font-family:'kglesbouquinistesdeparis';
}
a.navbar-brand-nonmob{
	margin-bottom:100px;
	font-size:50px;
	color:#ffffff;
	text-decoration:none;
	margin-top:100px;
	font-family:'kglesbouquinistesdeparis';
}
#main-body{
	margin-top:60px;
}

footer.html-footer{
	height: 3em;
	padding-top:0.75em;
	padding-left: 1em;
	padding-right: 0.75em;
	font-size: 12px;
}
footer.html-footer a, footer.html-footer a:hover{
	color: #ffffff;
	text-decoration:none;
	font-weight:bold;
}

#main-menu{
	text-transform:lowercase;
}
#footer-menu{
	font-variant: small-caps;
	margin-bottom:0;
}
#footer-menu a{
	color: #ffffff;
	text-decoration:none;
	font-size:14px;
}

#main-content{
	padding-right: 40px;
}
.sidebar-widget{margin-bottom:10px;}
.sidebar-widget .panel-heading{
	font-weight: bolder;
	color: #FFF;
	background-color: #333;
	border-top: 5px solid #FF3C38;
	font-variant: small-caps;
	font-family: Verdana Bold;
	border-bottom: 1px solid #333;
}
.sidebar-widget .panel-body{
	border: 0;
	border-bottom: 3px solid #01ace2;
}
#content-home .panel-heading{
	background:#333;
	color:#ffffff;
	border-top:5px solid #FF3C38;
	height:68px;
}
#content-home .panel-heading h2{
		line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#content-home .panel-heading a{
	color:#ffffff;
	text-decoration:none;
}
#content-home .panel-body{
	border-bottom:5px solid #01ace2;
	height:180px;
}
#sidebar-category .panel-body{
	padding:0;
}
#sidebar-category .list-group{
	margin-bottom:0;
}
#sidebar-category .list-group-item:first-child, #sidebar-category .list-group-item:last-child{
	border-radius:0;
}
#sidebar-category .list-group-item{
	border-right:0;
	border-left:0;
}
#sidebar-category .list-group-item.active, #sidebar-category .list-group-item:hover{
	border: 1px solid #DDD;
	background-color: #FFF;
	color: #333;
	border-right: 2px solid #F00;
	border-left: 0;
}
#sidebar-category .panel{margin-bottom:10px;}
#homeHead{
	border-bottom: 1px solid #d3d3d3;
	margin-left:5px;
	margin-bottom: 10px;
}
.content-sub-title{
	font-size: 11px;
	margin-bottom:20px;
}
#main-sidebar input[type="search"], #homeHead input[type="search"]{
	margin-top:5px;
	border: 5px solid #01ace2;
}
#collapse-button button{background-color:#FF3C38;}
#collapse-button button span{color:#ffffff;}
.label-front{
	font-size: -webkit-xxx-large;
	font-variant: small-caps;
	margin-top: 40px;
	text-align: center;
	font-family: courier;
	font-weight: bold;
}
.black-hover:hover{
	background-color:#000;
	color:#ffffff;
	border: 3px solid #000;
}
.black-hover{
	border: 5px solid #EE993C;
	/*border: 5px solid #333;*/

}
.black-hover a, .black-hover a:hover{
	text-decoration:none;
}
#fieldset-well ul.pager{
	padding:0;
	margin:0;
}
#fieldset-well .panel-footer, #fieldset-well .panel-heading{
	background-color: #EE993C;
	border: 2px solid #EE993C;
}
#fieldset-well .panel-body{
	border: 2px solid #EE993C;
}
#fieldset-well .panel-heading{
	color:#FFFFFF;
	font-family: Verdana;
	font-variant: small-caps;
	height: 3.5em;
}
.italic{
	font-style:italic;
}
.category-sub{
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 1em;
	margin-top: 10px;
}
.actual-ad-code{
	height: 80px;
	width: 480px;
	margin:auto;
	background-color:red;
	margin-bottom:25px;
	margin-top:5px;
}
.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-guestpost{
	border:0;
	border:1px solid #d3d3d3;
	border-bottom: 5px solid #01ace2;
	border-radius:0;
	box-shadow:none;
	margin-bottom: 20px;
}

.panel-guestpost > .panel-heading{
	background:#333;
	color:#ffffff;
	border-top:5px solid #FF3C38;
	height:45px;
	border-radius:0;
}

.panel-guestpost a, .post-body a{
	color:#1294C0;
	border-bottom: 1px dotted #d3d3d3;
	text-decoration:none;
}

.panel-guestpost h5{
	font-weight:bold;
}

h5.panel-title{
	font-family: verdana;
	font-variant:small-caps;
}

.author-image{
	height: 80px;
	width: 80px;
}
#main-body{
	margin-bottom: 20px;
}

a.btn-inverse, a.btn-inverse:hover{
	background:#000;
	color:#ffffff;
}
a.btn-inverse:hover{
	background: #464646;
}

#social-icons-lower a{
	height: 5em;
	font-size: 12px;
	text-align:left;
	font-weight:bold;
	border: 4px solid #ffffff;
	padding: 5px;
}

#social-icons-lower img{
	margin-right: 15px;
}

#social-icons a{
	padding-top:5px;
	width:60px;
}
#homeHead a{
	text-decoration:none;
}

#sidebar-home{
position: fixed;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow: hidden;
background-color: #333;
color: #FFF;
height: 100%;
border-right: 5px solid #01ace2;
box-shadow: 2px 2px 2px #857A7A;
}

#mainmenu-home{
	text-decoration:none;
	color: #ffffff;
	font-weight:bold;
	font-size: 15px;
	line-height:30px;
	margin-top: 50px;
	font-family:Arial, Helvetica;
}

#mainmenu-home a{
	text-decoration:none;
	margin-left:30px;
	color:#ffffff;
}

#mainmenu-home li{
	padding:10px;
	margin-right: -50px;
}

#mainmenu-home .active{
background-color: #01ace2;
border-bottom: 3px outset #01ace2;
}

.caret{
	border-top: 4px solid #FFF;
}

#sidebar-home h1{
	font-size: 50px;
}

#mainmenu-home li ul{
	list-style:none;
	line-height: 10px;
}

#mainmenu-home li ul li a:before{
	font-family: "Glyphicons Halflings";
	content: "\e080";
	margin-right: 15px;
}

.filler{
	margin-top: 70px;
}

.row-nomargin{
	margin:0;
}

#content-home{
	margin-top:10px;
	overflow:hidden;
}

#content-home h2{
font-size: 20px;
margin-top: 0px;
}


.wellbox{
	min-height: 40px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: rgba(211, 211, 211, 0.2);
	border-top: 5px solid #FF3C38;
	border-bottom: 5px solid #01ace2;
	border-radius: 2px;
}

#content-home .wellbox{
	height: 250px;
	max-height: 250px;
}
.home-icons{
	color:#d3d3d3;
	margin-right:10px;
}


.btn{
	border-radius:0;
	border:0;
}

.btn-primary{
	border-bottom: 3px solid #285E8E;
}
.btn-info{
	border-bottom: 3px solid #269ABC;
}

.btn-danger{
	border-bottom: 3px solid #AC2925;
}

.btn-warning{
border-bottom: 3px solid #D58512;
}

.btn-success{
border-bottom: 3px solid #398439;
}

.input-group-btn .btn{
	border-bottom: 2px solid #428BCA;
}

.post-title a{
	color:#333;
	text-decoration:none;
}

#icon-rss:hover{
	color:#FF8F00;
}

#icon-fb:hover{
	color:#3B5998;
}

#icon-tw:hover{
	color:#00C2FF;
}


blockquote{
border-left: 5px solid #FFF51F;
background: #333;
color: #FFF;
font-family: sans-serif;
}
/*
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
*/
blockquote p {
  display: inline;
}

blockquote>footer{
	text-align:right;
	color:#d3d3d3;
	font-style:italic;
	font-family:sans-serif;
}
pre.code/*, pre[class*='brush:']*/{
border-radius: 0;
border:0;
border-left: 5px solid #25B83D;
background-color: #333;
color: #D3D3D3;
}
.panel-body .post-body{
overflow: hidden;
}

.paginator-hr{
	margin-top:5px;
	width:100%;
}
.blog-pager a{
	color:#9AA6B4;
	text-decoration:none;
}
.blog-pager a:hover{
	color:#3079ED;
	text-decoration:none;
}
code, pre[class*='brush:']{
	white-space: pre-wrap;
}
.post-body{
	/*text-align:justify;*/line-height:30px;
}
.status-msg-bg{
	/*height:500px;*/
	background-color: #FFFFFF;
}
.status-msg-border{
	border:none;
}
.status-msg-body{
	font-family: Regency, Arial;
}
.fa-10x{
	font-size:10em;
}
.blog-feeds, .post-feeds{
	display:none;
}
.appad2, .appad3{
	text-align: center;
	margin-top:10px;
}
#cse-search-results iframe{
	height:900px;
}
#static_h1{
	font-size: 30px;
	font-family: Regency, Arial;
}
.post-footer-line-1{display:none;}
.post-footer-line-2{margin-top:30px;}
.img-responsive{
text-align: center;
margin: auto;
width:100%;
image-rendering: auto;
image-rendering:optimizeQuality; -ms-interpolation-mode:bicubic;
}
#sidebar-category{
	margin-bottom: 5px;
}
.alert{
	border:0;
	background-color:#333;
	border-radius:0;
	color:#FFFFFF;
	border-left: 5px solid #8034C7;
}
.alert-warning{
	border-left: 5px solid #FFA300;
}
.alert-info{
	border-left: 5px solid #00ABFF;
}
.alert-danger{
	border-left: 5px solid #FF0070;
}
.alert-success{
	border-left: 5px solid #5ED141;
}

.hm-thumbnail{
	margin-left: 20px;
	-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: gray; filter: grayscale(100%);
}

.hm-thumbnail:hover{
  	-webkit-filter: grayscale(0%); -moz-filter: grayscale(0%);
	filter: none; filter: grayscale(0%);
}

.thumbnail{
	border-radius:0;
}

legend{
border-bottom: 0;
/* font-variant: small-caps; */
margin-bottom: -5px;
background: #000;
/* border-left: 5px solid #137583; */
margin-left: -11px;
padding-left: 20px;
color: #FFF;
border-top: 5px solid #FF3C38;
font-size: 14px;
padding-top: 5px;
padding-bottom: 5px;
width: 103.25%;
}
fieldset{
background: #FFF;
padding: 10px;
padding-top: 20px;
color: #333;
/* margin-bottom: -50px; */
border-bottom: 5px solid #01ACE2;
border-right: 1px solid #D3D3D3;
border-left: 1px solid #D3D3D3;
}

.stitchBorder{
padding: 10px 10px;
 margin:15px;
 background: #62CE8B;
 -moz-box-shadow: 0 0 0 10px #62CE8B;
 -webkit-box-shadow: 0 0 0 10px #62CE8B;
 box-shadow: 0 0 0 10px #62CE8B;
 border: 2px dashed #fff;

 color: #fff;
 font-weight: bold;
 line-height: 1.3em;
 text-align:center;
 font-weight:bold;
 font-size:30px;
}
blockquote a{color:#ffffff;}


dd{
	margin-left:25px;
	margin-bottom:20px;
}

.alert a{color:#ffffff;}

.post-body a.btn{
color:#ffffff;padding-top:10px;
}
.post-body a.btn-primary{
border-bottom: 3px solid #285E8E;
}
.post-body a.btn-success{
border-bottom: 3px solid #308E28;
}
border-block{
font-size:1.5em;border-radius:5px;
}

.post-body a.btn-try{
	width: 80%;
	margin: auto;
	padding: 20px;
	background-color: #515151;
	border: 0;
  	border-bottom: 4px solid #333;
	text-transform: uppercase;
}

.post-body a.btn-try:hover{
background: #A5A5A5;
}

strong{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}