@font-face {
  font-family: 'appleberry';
  src: url('../fonts/timeburner_regular.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamBookRegular';
    src: url('../fonts/gotham_book.eot');
    src: url('../fonts/gotham_book.eot') format('embedded-opentype'),
         url('../fonts/gotham_book.woff') format('woff'),
         url('../fonts/gotham_book.ttf') format('truetype'),
         url('../fonts/gotham_book.svg#GothamBookRegular') format('svg');
}
body{
	/*font-family: Arial, Helvetica;*/
	font-family: GothamBookRegular, Arial;
	color: #333;
	padding-top:60px;
	background:#F8F7F7;
	overflow-x: hidden;
}
html{
	overflow-x: hidden;
}
#main-nav.navbar, footer.html-footer{
	background-color: #333;
	color: #FFF;
}

#main-nav.navbar{
	background-color: #EC5454;
	color: #FFF;
	padding-top: 5px;
	border-bottom:5px solid #FFFFFF;
	box-shadow: 2px 2px 2px #d3d3d3;
}
.navbar a{
	color: #FFF;
	font-weight:bold;
	font-family: Arial Bold, Helvetica;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus, .nav li a:hover {
	border-top: 5px solid #EC5454;
	background: #FFF;
	padding-top: 10px;
	color:#333;
}
.nav li a, .nav li a:hover{
	border-bottom: #FF3C38;
}

.navbar .in .active>a, .navbar .in .active>a:hover, .navbar .in li a:hover{
	border-bottom:0;
}

.navbar-nav>li>.dropdown-menu{
	background-color:#333;
}

.nav .caret, .nav a:hover .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #333;
	border-top: 5px solid #FF3C38;
}

.navbar-nav > li > a{
	font-variant: small-caps;
}
.navbar-nav > li{
	padding-left: 3px;
}

.navbar .in .active>a, .navbar .in .active>a:hover, .navbar .in li a:hover{
	border-bottom:0;
	border:0;
}
ul.dropdown-menu li, ul.dropdown-menu li a:hover{
	border-bottom:0;

}
.dropdown-menu>li a:hover, .dropdown-menu>li a{
	border:0;
	padding-top:3px;
	color:#ffffff;
}


#blog-title{
	text-align:center;
}
a.navbar-brand {
	color: #FFF;
	font-size: 30px;
	text-rendering: optimizeSpeed;
	text-align:center;
	margin-top:-20px;
	font-family:appleberry;
}
a.navbar-brand-nonmob{
	margin-bottom:100px;
	font-size:50px;
	color:#ffffff;
	text-decoration:none;
	margin-top:100px;
	font-family:appleberry;
}
#main-body{
	margin-top:60px;
}

footer.html-footer{
	height: 3em;
	padding-top:0.75em;
	padding-left: 1em;
	padding-right: 0.75em;
	font-size: 12px;
}
footer.html-footer a, footer.html-footer a:hover{
	color: #ffffff;
	text-decoration:none;
	font-weight:bold;
}

#main-menu{
	text-transform:lowercase;
}
#footer-menu{
	font-variant: small-caps;
	margin-bottom:0;
}
#footer-menu a{
	color: #ffffff;
	text-decoration:none;
	font-size:14px;
}

#main-content{
	padding-right: 40px;
}
.sidebar-widget{margin-bottom:10px;}
.sidebar-widget .panel-heading{
	font-weight: bolder;
	color: #FFF;
	background-color: #333;
	border-top: 5px solid #FF3C38;
	font-variant: small-caps;
	font-family: Verdana Bold;
	border-bottom: 1px solid #333;
}
.sidebar-widget .panel-body{
	border: 0;
	border-bottom: 3px solid #1294C0;
}
#content-home .panel-heading{
	background:#333;
	color:#ffffff;
	border-top:5px solid #FF3C38;
	height:70px;

}
#content-home .panel-heading h2{
		line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#content-home .panel-heading a{
	color:#ffffff;
	text-decoration:none;
}
#content-home .panel-body{
	border-bottom:5px solid #1294C0;
	height:180px;
}
#sidebar-category .panel-body{
	padding:0;
}
#sidebar-category .list-group{
	margin-bottom:0;
}
#sidebar-category .list-group-item:first-child, #sidebar-category .list-group-item:last-child{
	border-radius:0;
}
#sidebar-category .list-group-item{
	border-right:0;
	border-left:0;
}
#sidebar-category .list-group-item.active, #sidebar-category .list-group-item:hover{
	border: 1px solid #DDD;
	background-color: #FFF;
	color: #333;
	border-right: 5px solid #F00;
	border-left: 0;
}
#homeHead{
	border-bottom: 1px solid #d3d3d3;
	margin-left:5px;
	margin-bottom: 10px;
}
.content-sub-title, .content-sub-title-2{
	font-size: 11px;
	margin-bottom:20px;
}
.content-sub-title-2{
	margin-left:5px;
}
#main-sidebar input[type="search"], #homeHead input[type="search"]{
	margin-top:5px;
	border: 5px solid #1294C0;
}
#collapse-button button{background-color:#FFFFFF;}
#collapse-button button span{color:#333;}
.label-front{
	font-size: -webkit-xxx-large;
	font-variant: small-caps;
	margin-top: 40px;
	text-align: center;
	font-family: courier;
	font-weight: bold;
}
.black-hover:hover{
	background-color:#000;
	color:#ffffff;
	border: 3px solid #000;
}
.black-hover{
	border: 5px solid #EE993C;
	/*border: 5px solid #333;*/

}
.black-hover a, .black-hover a:hover{
	text-decoration:none;
}
#fieldset-well ul.pager{
	padding:0;
	margin:0;
}
#fieldset-well .panel-footer, #fieldset-well .panel-heading{
	background-color: #EE993C;
	border: 2px solid #EE993C;
}
#fieldset-well .panel-body{
	border: 2px solid #EE993C;
}
#fieldset-well .panel-heading{
	color:#FFFFFF;
	font-family: Verdana;
	font-variant: small-caps;
	height: 3.5em;
}
.italic{
	font-style:italic;
}
.category-sub{

	padding: 1em;
	margin-top: 10px;
	margin-bottom:-30px;
}
.category-sub a{color:#333;}
.actual-ad-code{
	height: 80px;
	width: 480px;
	margin:auto;
	background-color:red;
	margin-bottom:25px;
	margin-top:5px;
}
.text-truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-guestpost{
	border:0;
	border-bottom: 2px solid #1294C0;
	border-radius:0;
	box-shadow:none;
}

.panel-guestpost > .panel-heading{
	background-color: #1294C0;
	color: #ffffff;
	border-radius:0;
}

.panel-guestpost a, .panel-guestpost a{
	color:#333;
	border-bottom: 1px dotted #d3d3d3;
	text-decoration:none;
}

.panel-guestpost h5{
	font-weight:bold;
}

h5.panel-title{
	font-family: verdana;
	font-variant:small-caps;
}

.author-image{
	height: 80px;
	width: 80px;
}
#main-body{
	margin-bottom: 20px;
}

a.btn-inverse, a.btn-inverse:hover{
	background:#000;
	color:#ffffff;
}
a.btn-inverse:hover{
	background: #464646;
}

#social-icons-lower a{
	height: 5em;
	font-size: 12px;
	text-align:left;
	font-weight:bold;
	border: 4px solid #ffffff;
	padding: 5px;
}

#social-icons-lower img{
	margin-right: 15px;
}




#sidebar-home{
position: fixed;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: #333;
color: #FFF;
height: 100%;
border-right: 5px solid #1294C0;

}

#mainmenu-home{
	text-decoration:none;
	color: #ffffff;
	font-weight:bold;
	font-size: 15px;
	line-height:30px;
	margin-top: 50px;
	font-family:Arial, Helvetica;
}

#mainmenu-home a{
	text-decoration:none;
	margin-left:30px;
	color:#ffffff;
}

#mainmenu-home li{
	padding:10px;
	margin-right: -50px;
}

#mainmenu-home .active{
background-color: #1294C0;
border: 3px outset #1294C0;
}

.caret{
	border-top: 4px solid #FFF;
}

#sidebar-home h1{
	font-size: 50px;
}

#mainmenu-home li ul{
	list-style:none;
	line-height: 10px;
}

#mainmenu-home li ul li a:before{
	font-family: "Glyphicons Halflings";
	content: "\e080";
	margin-right: 15px;
}

.filler{
	margin-top: 70px;
}

.row-nomargin{
	margin:0;
}

#content-home{
	margin-top:10px;
}

#content-home h2{
font-size: 20px;
margin-top: 0px;
}


.wellbox{
	min-height: 40px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: rgba(211, 211, 211, 0.2);
	border-top: 5px solid #FF3C38;
	border-bottom: 5px solid #1294C0;
	border-radius: 2px;
}

#content-home .wellbox{
	height: 250px;
	max-height: 250px;
}
.home-icons{
	color:#d3d3d3;
}


.btn{
	border-radius:0;
	border:0;
}

.btn-primary{
	border-bottom: 3px solid #285E8E;
}
.btn-info{
	border-bottom: 3px solid #269ABC;
}

.btn-danger{
	border-bottom: 3px solid #AC2925;
}

.btn-warning{
border-bottom: 3px solid #D58512;
}

.btn-success{
border-bottom: 3px solid #398439;
}

.input-group-btn .btn{
	border-bottom: 2px solid #428BCA;
}



.subnav{
	background-color: #F8F7F7;
	height: 35px;
	font-size: 11px;
	overflow: hidden;
}

#sub-menu.navbar-nav>li>a{
	margin-top: -10px;
	color:#333;
	font-variant:normal;
	text-transform: lowercase;
	height:28px;
}

#sub-menu.navbar-nav>li>a:hover{
	height:28px;
	border:none;
	margin-top:-5px;
	color:#EC5454;
}

#sub-menu.navbar-nav>li, #sub-menu.navbar-nav>li:hover{
	background-color:#ffffff;
	margin:3px;
	border-radius: 3px;
	height:28px;
}


.well-revised{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.media-heading a{
	color:#EC5454;
}

.fasocial{margin-right: 10px;margin-bottom:10px;}
.fasocial:hover{
	color:#EC5454;
}
blockquote{background-color: #ECECEC;
color: #412626;
font-family: sans-serif;
font-variant: small-caps;
border-left: 5px solid #EC5454;}
.page-header{
	border-bottom: 1px dotted #F5F5F5;
}

#social-icons a{
	background-color:#EC5454;
	color:#ffffff;
	padding: 5px;
	width:80px;
}
.sideimg{
	margin-bottom:10px;
}
#left-side-content{padding-top:50px;}
.btn-readmore, .btn-readmore:hover{background: #EC5454;
color: #FFF;
border-radius: 25px;}
.dropdown-menu>li>a{
	color:#333;
}
.media{
padding-bottom: 10px;
padding-top:10px;
border-bottom: 1px solid #F7F7F7;
}
.meadia:last-child{
	border-bottom:none;
}
.feed-links{display:none;}

a:hover{text-decoration:none;}
.post-header{
font-size: 12px;
margin-bottom: 10px;
}
.status-msg-body{
background-color: #333;
color: #FFF;
}
.status-msg-body a, .status-msg-body a:hover{
	text-decoration:none;

}
.status-msg-border{border:none;}
.social-icons-side a{
	color:#333;
}

.social-icons-side a:hover{
	color:#EC5454;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}